<% if user_signed_in? %>
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container-fluid fixed-bottom">
      <div class="col-12 text-center">
        <div class="row">
          <div class="col-4">
            <a href="/safe_places"><button class="btn btn-warning button-oval">My Safe Places</button></a> 
          </div>
          <div class="col-4">
            <%= link_to root_path do %>
		    	    <%= image_tag "Hand.png", width: 50 %>
            <% end %>
          </div>
          <div class="col-4">
            <%= link_to profile_path do %>
              <% if current_user.profile_picture.attached? %>
                <li class="mr-2"><%= cl_image_tag(current_user.profile_picture.key, class: "rounded-circle avatar") %></li>
              <% else %>
                <%= image_tag "Property 1=profile_pic.png", width: 50, height: 50 %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
