<% if user_signed_in? %>
<section class="rosy-background">
<div class="navbar navbar-expand-sm summer fixed-bottom">
  <div class="container-fluid fixed-bottom">
      <div class="col-12 text-center">
        <div class="row">
          <div class="col-4">
            <%= link_to safe_places_path do %>
		    	    <%= image_tag "Property 1=ic_outline-place.png", height: 40 %> <br>
            <% end %>
          </div>
          <div class="col-4 logo-navbar">
            <%= link_to root_path do %>
		    	    <%= image_tag "Logo-rounded.png", height: 50 %>
            <% end %>
          </div>
          <div class="col-4">
            <%= link_to profile_path do %>
              <% if current_user.profile_picture.attached? %>
                <li class="mr-2"><%= cl_image_tag(current_user.profile_picture.key, class: "rounded-circle avatar") %></li>
              <% else %>
                <%= image_tag "profile_navbar_icon.png", height: 40 %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
<% end %>
