<div class="container-fluid mt-3">
  <div class="col-12 ml-3">
		<% if user_signed_in? %>
			<div style="color:#15616D" class="px-2 text-justify fs-6">
				<p>Welcome <b><%= current_user.name %>!</b></p>
				<p>You are now set to start a safe journey.</p>
				<p>Where are we going today?</p>
		<% end %>
	</div>
	<div class="col">
		<div class="text-center" style="width: 100%; height: 500px;"
			data-controller="mapbox"
			data-mapbox-markers-value="<%= @markers.to_json %>"
			data-mapbox-markers1-value="<%= @markers1.to_json %>"
			data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
    <div class="text-center button-placement">
			<%= link_to new_journey_path do %>
				<div class="btn journey btn-primary ml-1 mt-1 fs-5 text-center"> Start Journey </div>
			<% end %>
    </div>
	</div>
</div>
