<section class="profile-section d-flex col-6">
<div class="container-flex profile-body text-center align-items-start">
    <div class="card">
			<div class="list-inline container-flex justify-content-center">
			<% if current_user.profile_picture.attached? %>
				<p class="m-2"><%= cl_image_tag(current_user.profile_picture.key, width: 200, height: 200, class: "rounded-circle") %></p>
			<% else %>
				<p class="m-2"><%= cl_image_tag("cld-sample", width: 200, height: 200, class: "rounded-circle" ) %></p>
			<% end %>
				<p class="fw-bold fs-5 dark-gray"><%= current_user.name %></p>
				<p class="fw-light dark-gray"><span class="fw-bold">Email:</span> <%= current_user.email %></p>
				<p class="fw-light dark-gray"><span class="fw-bold">Phone:</span> <%= current_user.phone_number %></p>
				<p class="btn button-oval yellow"><%= link_to 'Edit', edit_user_registration_path, class: "yellow"  %> </p>
			</div>
    </div>
    <div class="profile-buttons d-flex flex-column justify-content-start">
			<div class="list-inline text-decoration-none m-2">
				<%= link_to buddies_path do %>
					<div class="card-2">
						<li class="dark-gray">My Buddies</li>
						<%= image_tag "Property 1=bi_people.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to safe_places_path do %>
					<div class="card-2">
						<li class="dark-gray">My Safe Places</li>
						<%= image_tag "Property 1=ic_outline-place.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to journeys_path do %>
					<div class="card-2">
						<li class="dark-gray">My Journeys</li>
						<%= image_tag "Property 1=simple-icons_yourtraveldottv.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<div class="card-2">
						<li class="dark-gray">Logout</li>
						<%= image_tag "Property 1=Log out.png", width: 30, height: 30 %>
					</div>
				<% end %>
			</div>
		</div>
</div>
</section>
