<div class="container-flex">
		<div class="text-center">
    <div class="profile-details ml-8 d-flex flex-column justify-content-center">
			<ul class="list-inline">
			<% if current_user.profile_picture.attached? %>
				<li class="mr-2"><%= cl_image_tag(current_user.profile_picture.key, width: 200, height: 200, class: "rounded-circle") %></li>
			<% else %>
				<li class="mr-2"><%= cl_image_tag("cld-sample", width: 200, height: 200, class: "rounded-circle" ) %></li>
			<% end %>
				<li class="fw-bold fs-5"><%= current_user.name %></li>
			</ul>
			<ul class="list-inline">
				<li class="fw-light"><span class="fw-bold">Email:</span> <%= current_user.email %></li>
				<li class="fw-light"><span class="fw-bold">Phone:</span> <%= current_user.phone_number %></li>
        <section>
				<li class="btn button-oval yellow"><%= link_to 'Edit', edit_user_registration_path %> </li>
        </section>
			</ul><hr>
    </div>
    <div class="profile-buttons d-flex flex-column justify-content-start">
			<div class="list-inline text-decoration-none m-2">
				<%= link_to buddies_path do %>
					<div class="buddies-icon ms-2 d-flex shadow-sm p-3 mb-2 bg-body rounded">
						<li>My Buddies</li>
						<%= image_tag "Property 1=bi_people.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to safe_places_path do %>
					<div class="buddies-icon ms-2 d-flex shadow-sm p-3 mb-2 bg-body rounded">
						<li>My Safe Places</li>
						<%= image_tag "Property 1=ic_outline-place.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to journeys_path do %>
					<div class="buddies-icon ms-2 d-flex shadow-sm p-3 mb-2 bg-body rounded">
						<li>My Journeys</li>
						<%= image_tag "Property 1=simple-icons_yourtraveldottv.png", width: 30, height: 30 %>
					</div>
				<% end %>
				<%= link_to destroy_user_session_path, method: :delete do %>
					<div class="buddies-icon ms-2 d-flex shadow-sm p-3 mb-2 bg-body rounded">
						<li>Logout</li>
						<%= image_tag "Property 1=Log out.png", width: 30, height: 30 %>
					</div>
				<% end %>
			</div>
		</div>
</div>
