<div class="d-flex justify-content-around align-items-center mt-4">
  <%= link_to root_path do %>
  	<%= image_tag "logo-stacked.png", height: 90 %>
  <% end %>
</div>
<div class="text-end m-3">
		<%= link_to new_user_registration_path do %>
			<p class="dark-gray">Skip</p>
		<% end %>
</div>
<div class="d-flex justify-content-around align-items-center m-2x">
  <%= image_tag "Intro_safe_place.png", height: 250 %>
</div>
<div class="container text-center m-3 user-sign-up">
  <h5>Create a list of your most frequently visited places and start a journey.</h5>
	</div>
	<div class="d-flex flex-row-reverse m-3">
		<%= link_to buddy_intro_path do %>
			<%= image_tag "next.png", height: 40 %>
		<% end%>
	</div>
</div>
