<div class="d-flex justify-content-around align-items-center mt-4">
  <%= link_to root_path do %>
	<%= image_tag "logo-stacked.png", height: 90 %>
<% end %>
</div>
<div class="text-end m-3">
		<%= link_to new_user_registration_path do %>
			<p class="skip">Skip</p>
		<% end %>
</div>
<div class="d-flex justify-content-around align-items-center mx-2">
	<%= image_tag "woman on bicycle with puppie.png", height: 250 %>
</div>
<div class="container text-center m-3 user-sign-up">
	<div class="col-3">

	</div>
	<div class="6">
	<h5>Welcome to <strong>I'm Home</strong>.</h5>
		<p>We endeavor to keep you safe</p>
	</div>
	<div class="col-3">

	</div>
	<div class="d-flex flex-row-reverse m-3">
		<%= link_to safe_places_intro_path do %>
			<%= image_tag "next.png", height: 40 %>
		<% end%>
	</div>
</div>
