
<div class="container d-xl-flex">
  <div class="row justify-content-xl-center">
    <%  buddies_array = [] %>
    <%  @buddies.each do |s| %>
      <%  buddies_array << [s.name, s.id] %>
    <%  end %>

			<%= simple_form_for [@journey] do |f| %>
        <div id="buddy">
          <%= f.input :buddy_id, collection: buddies_array%>
        </div>
        <div data-controller="visibility">
          <div data-visibility-target="startingsafe">
        <%= f.input :starting_point_id, collection: @user_safe_places %>
          </div>
          <button type="button" data-action="visibility#toggleTargetsStart">Safe Place / Address</button>
          <div data-visibility-target="starting" hidden >
            <%= f.simple_fields_for :starting_point_id do |address_subform| %>
              <%= address_subform.text_field :address_line1, disabled: true %>
              <%= address_subform.text_field :address_line2, disabled: true %>
              <%= address_subform.number_field :postcode, disabled: true %>
              <%= address_subform.text_field :city, disabled: true %>
            <% end %>
          </div>
          <br>
          <div data-visibility-target="destisafe">
          <%= f.input :destination_id, collection: @user_safe_places %>
          </div>
          <button type="button" data-action="visibility#toggleTargetsDesti">Safe Place / Address</button>
          <div data-visibility-target="destination" hidden>
              <%= f.simple_fields_for :destination_id do |address_subform| %>
                <%= address_subform.text_field :address_line1, disabled: true%>
                <%= address_subform.text_field :address_line2, disabled: true %>
                <%= address_subform.number_field :postcode, disabled: true %>
                <%= address_subform.text_field :city, disabled: true %>
              <% end %>
          </div>
        </div>
        <div id="modeandtime">
          <%= f.input :mode_of_transportation, collection: ["Bus", "Train", "Taxi/Uber", "Car", "Foot"] %>
          <%= f.input :time_estimate, collection: [10, 20, 30, 40, 50, 60] %>
        </div>
        <%= f.submit class: 'btn btn-info' %>
			<% end %>

  </div>
</div>
