<div class="container">
	<div class="card-trip m-4">
		<div style="width: 100%; height: 200px;"
			data-controller="mapbox"
			data-mapbox-markers-value="<%= @markers.to_json %>"
			data-mapbox-markers1-value="<%= @markers1.to_json %>"
			data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
		<div class="card-trip-infos">
			<div d-flex>
				<ul class="list-inline">
					<li class="dark-gray fs-6"><b>From:</b> <%= @journey.starting_point.address_line1 %></li>
					<li class="dark-gray fs-6"><b>To:</b> <%= @journey.destination.address_line1 %> </li>
					<li class="dark-gray fs-6"><b>Started at:</b> <%= @journey.created_at.strftime('%d-%b-%Y %H:%M') %> </li>
					<li class="dark-gray fs-6"><b>Estimated:</b> <%= @journey.time_estimate %> Mins </li>
					<p class="text-white fs-6"><span class="counter"><%= @remainingtime %></span>
					</p>
				</ul>
			</div>

		<div id="app" data-controller="timer">
		</div>
		<div>
			<li class="p-0 m-0"><%= javascript_pack_tag 'timer'%>
			<% buddy = Buddy.find_or_create_by(id: @journey.buddy_id)%>
			<% if buddy.profile_picture.attached? %>
				<%= cl_image_tag(buddy.profile_picture.key, class: "rounded-circle card-trip-user avatar-bordered") %>
			<% else %>
				<%= cl_image_tag("cld-sample", class: "rounded-circle card-trip-user avatar-bordered" ) %>
			<% end %></li>
			<li class="card-trip-pricing relative dark-gray"><%= buddy.name %></li>
		</div>
		</div><hr>
		<div class= "d-flex justify-content-around">
			<div class="btn button-oval ml-1 mt-1"> <%= link_to "End Journey", journey_path(@journey), :class => "btn", method: :delete, data: { message: "Your buddy will be informed" } %></div>
			<div class="btn button-oval ml-1 mt-1"> <%= link_to 'Update', edit_journey_path(@journey), :class => "btn" %></div>
		</div>
</div>
