<div class="journeys-show m-3 d-flex flex-direction-row">
<section class="starting-point">
<li><p>Starting Point: </p></li>
<%  starting_point = Address.find_or_create_by(id: @journey.starting_point)  %>
<p><%=  starting_point.address_line1 %></p>
<p><%=  starting_point.address_line2 %></p>
<p><%=  starting_point.postcode %>
<%=  starting_point.city %></p>
<br>
</section>
<section class="starting-point">
<li><p>Destination: </p></li>
<%  destination = Address.find_or_create_by(id: @journey.destination)  %>
<p><%=  destination.address_line1 %></p>
<p><%=  destination.address_line2 %></p>
<p><%=  destination.postcode %>
<%=  destination.city %></p>
</section>
<section class="starting-point">
<li><p>Your Buddy:</p></li>
<% buddy = Buddy.find_or_create_by(id: @journey.buddy_id)%>
<%= buddy.name %>
<% if buddy.profile_picture.attached? %>
	<%= cl_image_tag(buddy.profile_picture.key, width: 50, height: 50, class: "rounded-circle") %>
<% else %>
	<%= cl_image_tag("cld-sample", width: 50, height: 50, class: "rounded-circle" ) %>
<% end %>
</section>
</div>
<section class="m-3">
<div class="btn button-oval ml-1 mt-1"> <%= link_to "End Journey", journey_path(@journey), :class => "btn", method: :delete, data: { message: "Your buddy will be informed" } %></div>
</section>
<section class="m-3">
<div class="btn button-oval ml-1 mt-1"> <%= link_to 'Update', edit_journey_path(@journey), :class => "btn" %></div>
</section>
