<div class="container">
	<div class="card-trip m-4">
		<div style="width: 100%; height: 200px;"
			data-controller="mapbox"
			data-mapbox-markers-value="<%= @markers.to_json %>"
			data-mapbox-markers1-value="<%= @markers1.to_json %>"
			data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
		</div>
		<div class="card-trip-infos">
			<div d-flex>
				<ul class="list-inline">
					<li class="dark-gray"><b>From:</b> <%= @journey.starting_point.address_line1 %></li>
					<li class="dark-gray"><b>To:</b> <%= @journey.destination.address_line1 %> </li>
					<li class="dark-gray"><b>Started at:</b> <%= @journey.created_at.strftime('%d-%b-%Y %H:%M:%S') %> </li>
					<li class="dark-gray"><b>Estimated:</b> <%= @journey.time_estimate %> Mins </li>
				</ul>
			</div>

		<div id="app" data-controller="timer">
			<div class="base-timer">
				<svg class="base-timer__svg" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
					<g class="base-timer__circle">
						<circle class="base-timer__path-elapsed" cx="50" cy="50" r="45"></circle>
						<path
							id="base-timer-path-remaining"
							stroke-dasharray="283"
							class="base-timer__path-remaining ${remainingPathColor}"
							d="
								M 50, 50
								m -45, 0
								a 45,45 0 1,0 90,0
								a 45,45 0 1,0 -90,0
							"
						></path>
					</g>
				</svg>
				<span id="base-timer-label" class="base-timer__label">${formatTime(
					timeLeft
				)}</span>
			</div>
		</div>
		<div>
			<%= javascript_pack_tag 'timer'%>
			<% buddy = Buddy.find_or_create_by(id: @journey.buddy_id)%>
			<% if buddy.profile_picture.attached? %>
				<%= cl_image_tag(buddy.profile_picture.key, class: "rounded-circle card-trip-user avatar-bordered") %>
			<% else %>
				<%= cl_image_tag("cld-sample", class: "rounded-circle card-trip-user avatar-bordered" ) %>
			<% end %>
			<p class="card-trip-pricing relative"><%= buddy.name %></p>
		</div>
		</div><hr>
		<div class= "d-flex justify-content-around">
			<div class="btn button-oval ml-1 mt-1"> <%= link_to "End Journey", journey_path(@journey), :class => "btn", method: :delete, data: { message: "Your buddy will be informed" } %></div>
			<div class="btn button-oval ml-1 mt-1"> <%= link_to 'Update', edit_journey_path(@journey), :class => "btn" %></div>
		</div>
</div>
